
a:hover { /*Hover over navigation links*/
    cursor: pointer;
    color: lightseagreen;
}


.desc {
    position: relative;
    text-align: center;
    color: white;
}


.form {
    display: inline-block;
    text-align: center;
}

.form p {
    font-weight: bolder;
    color: lightseagreen
}