
/*h2 {
    position: absolute;
    top: 8px;
    left: 16px;
}

.desc {
    position: relative;
    text-align: center;
    color: white;
}*/


/*.form {
    display: inline-block;
    text-align: center;
}

.form p {
    font-weight: bolder;
    color: lightseagreen
}*/