body {
    margin: 100px;
    margin-top: 10px;
}

h1 {
    color: lightseagreen;
}

h2 {
    position: absolute;
    top: 8px;
    left: 16px;
}

.titleLabel {
    border: 1px solid lightgrey;
    color: grey;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

