body {
    margin: 100px;
    margin-top: 10px;
}

.titleLabel {
    border: 1px solid lightgrey;
    color: grey;
    padding: 16px;
}

h1 {
    color: lightseagreen;
}

h2 {
    position: absolute;
    top: 8px;
    left: 16px;
}

.navBar ul {
    list-style-type: none;
}

.navBar a {
    float: right;
    text-decoration: none;
    color: grey;
    padding: 10px;
}

.navBar form {
    float: right;
}

.navBar li {
    display: inline;
}

a:hover {
    cursor: pointer;
    color: lightseagreen;
}

.button1 {
    border-radius: 40%;
    padding: 12px;
    background-color: lightseagreen;
    border: lightseagreen;
    color: white;
}

.desc {
    position: relative;
    text-align: center;
    color: white;
}

.desc img {
    margin: 0px;
}

.form {
    display: inline-block;
    text-align: center;
}

.form p {
    font-weight: bolder;
    color: lightseagreen
}