body {
    margin: 100px;
    margin-top: 10px;
    color: grey;
}

/* Top of page including welcome bar and navigation bar */

h1 {
    color: lightseagreen;
}

.titleLabel { /* Welcome bar*/
    border: 1px solid lightgrey;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.titleLabel span { /* Email in top right corner */
    color: lightseagreen;
}

.navBar ul { /* Make list horizontal*/
    list-style-type: none;
}

.navBar a { /* Nav bar links */
    font-weight: bold;
    float: right;
    text-decoration: none;
    color: grey;
    padding: 10px;
}

.button1 { /* Nav bar button*/
    float: right;
    border-radius: 30px;
    padding: 12px;
    background-color: lightseagreen;
    border: lightseagreen;
    color: white;
}

a:hover { /*Hover over navigation links*/
    cursor: pointer;
    color: lightseagreen;
}

/*Section 1 with catch phrase*/

.section1 {  /*description text section*/
    position: relative;
    text-align: left;
    color: white;
}
.phrase { /*Phrase text placed on picture*/
    position: absolute;
    top: 75px;
    left: 100px;
    font-size: 40px;
}

.description { /*Description text placed on picture*/
    position: absolute;
    top: 250px;
    left: 100px;
}

.button2 { /*Description button placed on picture*/
    position: absolute;
    top: 350px;
    left: 100px;
    border-radius: 30px;
    padding: 12px;
    background-color: white;
    border: white;
    color: lightseagreen;
}

.section1 img { /*Image brightness more dim*/
    filter: brightness(50%);
}

/*Section 2 with why us*/

.sectionhead {
    text-align: center;
    color: lightseagreen;
    font-size: 25px;
}

.sTitle {
    color: lightseagreen;
    font-size: 19px;
}

/*Section 3 with services*/

.services {
    border: 1px solid lightgray;
    background-color: lightgray;
    padding: 30px;
}

.buttonc { /* Center button */
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonleft { /* Nav bar button*/
    border-radius: 30px;
    padding: 12px;
    background-color: lightseagreen;
    border: lightseagreen;
    color: white;
}

/*Section 4 with about company*/

.about {
    display: block;
}

.about img {
    float: left;
}

.aboutHeader {
    color: lightseagreen;
    font-size: 25px;
}

/*Section 5 with discount bar*/

.discount {
    border: 1px solid lightgrey;
    background-color: lightseagreen;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.discount p {
    color: white;
    font-size: 25px; 
}

.button3 {
    border-radius: 30px;
    padding: 12px;
    background-color: white;
    border: white;
    color: lightseagreen;
}
